*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    --ms-text-size-adjust:100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -ms-overflow-style: scrollbar;
}
body{
    width:100%;

}
.main{
    width:85vw;
    background: #fff;
}