*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    --ms-text-size-adjust:100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -ms-overflow-style: scrollbar;
}
body{
    width:100%;
    background-image:url(../uploads/images/back-pink); 
    background-repeat: no-repeat;
    background-size: cover;
    

}
.main{
    width:95vw;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
    margin: 1rem auto;
    margin-top: 10rem;
    padding: 2%;
}
a{
    text-decoration:none;  
    color: #000;
    
}
.title{
    text-align: center;
    margin: 1rem 0;
    line-height: 2;
}
ul{
    list-style: none;
}
.icons sup{
    position:absolute;
    top: -.1rem !important;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width:20px;
    height:15px;
    line-height:15px;
    padding:.1rem;
    margin-left:-8px;
    text-align: center;
    text-decoration: none;
}
.empty{
   text-align: center; 
   text-transform:capitalize;
   margin:0 auto;
   margin-bottom:2rem;
   width:59%;
   padding: .5rem 1.5rem;
   background: green;
   color:white;
   border:1px solid green;
}



.btn,.btn_index{
    line-height: 2;
    background-color:#ff00ff5f;
    padding: 5px 35px;
    display:inline-block;
    border-radius: 30px;
    color:#FFFF;
    text-transform: capitalize;
    font-size: 16px;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition:color 0.3s ease;
    z-index:2;  
    text-decoration: none;
    border: #ff00ff;
}
.btn::before{
    position:absolute;
    content:'';
    left:0;
    top:0;
    background:#80005e;
    height:100%;
    width:0;
    z-index:-1;
    transition:width 0.3s ease;
    
}

.btn:hover::before{
width:100%;
}
.btn:hover{
    color: #fff;
}
.btn_index:hover{
    color: #fff;
    background-color:#80005e; ;
    transform: scale(1.1);  
    transition: 0.5s;
}
.input,textarea{
    background:#fff;
    border:none;
    padding: .6rem;
    margin:.5rem 0;
    border:1px solid green;
    width:95%;
}
.form_update{
    width:90%;
}
button{
    background:transparent;
    border:none;
    outline:none; 
}

/*=================header================ */
header{
    position:fixed;
    top:1%;
    left:2%;
    width:95vw;
    padding:1rem;
    z-index:101;
    transition:.3s;
    box-shadow: 5px 5px 15px -1px #808080;
    background-color:#f4d8e9ae;
   
}
.logo{
    width:150px;
    height:70px;
}
header.scrolled{
    top:0;
    box-shadow: 5px 5px 15px -1px #808080;
}
.header.scrolled a:hover{
    color:green
}
.flex{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
    margin:0 auto;
}
.navbar a {
    margin: 0 1 rem;
    font-size:1 rem;
    margin: 0 30px;
    text-decoration: none;
    color: #80005e;
    font-size: 1.2rem;
}
.navbar a:hover{
    color:#f7b90f;
    transform:scale(1.1);
}
.haeder .icons{
    display: flex;
}
.header .icons i{
    margin-left:1rem;
    font-size:1.5rem;
    color:#000;
}
#menu-btn{
    font-size: 2rem;
    display:none;
}
.header .user-box{
    position:absolute;
    top:120%;
    right:0;
    box-shadow: rgb(255 255 255 / 80%);
    border-radius: .5rem;
    padding: 1rem;
    text-align:center;
    width: 20rem;
    transform: scale(0);
    transform-origin:top right;
    line-height:2;
}
.header .user-box .btn{
    border-radius:.5rem;
    padding: 0 1.5rem;
}
.logout-btn{
    background:#000;
    color:#fff;
    text-transform:uppercase;
    width: 11rem;
    border-radius: .5rem;
    margin: .5rem;
    padding: .5rem 0;
}
.header .user-box.active{
    transform:scale(1.0);
    transition:.2s linear;
}
.icons a, .user-box a{
    text-decoration: none;
}
.sup_header{
    top: -0.1%!important; 
}
/* =============home slider=========== */
.home-section{
    position: relative;
    margin-bottom: 2rem;
    margin-top: -4rem;
}
.slider{
    max-height: 80vh;
    width:100%;
    display:flex;
    overflow-x: hidden;
    overflow-y:hidden;
    scroll-snap-type: x mandatory;
}
.slider_{
   height: 80vh;
   min-width: 100vw;
   width:100%;
   scroll-snap-align: start;
   background-position: center;
   background-size: cover;
   position:relative;
}
.slider .slide-detail{
    position: absolute;
    top:30%;
    left:20%;
    text-align: center;
}
.slider .slide-detail h1{
    position: relative;
    color:#80005e;
    margin-left: -5rem;
}
.slider .slide-detail h1::before{
    position: absolute;
    content:'';
    width:380px;
    height:1px;
    bottom:-40%;
    left:20%;
    background: #e2e2e244;
}
.slider .slide-detail h1::after{
    position: absolute;
    content:'';
    width:10px;
    height:10px;
    bottom:-50%;
    left:50%;
    border-radius:50%;
    background: #f7b90f;
}
.slider .slide-detail p{
    font-size: 14px;
    color:#80005e;
    margin-top:2rem ;
    margin-bottom:2rem;
    margin-left: -7rem;
}
.slide1{
    background-image: url(../uploads/images/birth_candle.jpg);   
}
.slide2{
    background-image: url(../uploads/images/slider4.jpg);
    background-position:center;
}
.slide3{
    background-image: url(../uploads/images/slider3.jpg);  
}
.left-arrow,
.right-arrow{
position:absolute;
top:50%;
transform: translateY(-50%);
font-size: 2rem;
width:40px;
height:40px;
border-radius: 50%;
color:#fff;
z-index: 2;
}
.right-arrow{
   right: 1rem; 
}
.left-arrow{
    left: 1rem; 
 }
 .thumb{
   
    box-shadow: 5px 5px 15px -1px #808080;
    margin: 2rem auto;
    padding:2%;
    width:95%;
 }
 .contact_section h2, .avis_title, .modal-title{
    text-align: center;
    background: rgba(239, 129, 197, 0.203);
    width:50%;
    margin-left:25%;
 }

 .articles_section h2, .title_articles{
    text-align: center;
    background: rgba(239, 129, 197, 0.203);
    width:50%;
    margin-left:22%;
 }
 .testimonial-container h2, .title_rev, .title_message{
    text-align: center;
    background: rgba(239, 129, 197, 0.203);
    width:50%;
    margin-left:25%; 
 }
 .hr-circle {
    display:inline-block;
    color:#80005e;
   
   
  }
  .separator{
    margin:.1rem 42rem;
  }
  .separator1{
    margin:1rem 38rem;
  
  }
  .hr-circle hr{
    width:70px;
    
  }
 
 .box-container{
    display:flex;
    flex-wrap: wrap;


 }
 .thumb .box-container .box{
    text-align:center;
    margin:1rem;
    line-height:1.5;
    background:#fff;
    padding-bottom:1rem;
    color:gray;
    margin-left:70px;
 }
 .thumb .box-container .box img{
    transition:all 800ms ease-in-out;
    width:250px;
    height:220px;  
 }
 
 .thumb .box-container .box:hover img{
    transform:rotateY(180deg);
    cursor: pointer;
 }
 .thumb .box-container i{
    width:80px;
    height:40px;
    border-radius:50%;
    /* background:#80005e; */
    color:#80005e;
    align-items:center;
    padding:4px;
    cursor: pointer;
    border:2px solid #80005e;
 }

.container .box{
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
}
.container h2{
    color:#80005e;
    font-size: 2rem;
    margin:1rem 8rem; 
}
.container span{
    font-size: 1.5rem;  
}
.box2{
    margin-top: 5rem;
}
.articles_section, .reviews{
    margin-top: 10%;
}
.box-container .box .button{
    text-align:center;
    margin-left: 15%;
    margin-top: 10px;
    border-radius:20px;
    background:#ebabda;
    padding:.5rem 1.5rem;
    width:70%;
}

.quantité{
    width:70%;
    text-align: center;
}

/* =============avis clients=========== */
.reviews .card{
    width:100%;
}
.reviews form{
    width:85%;
}
/* .reviews textarea, input{
    width:85%;
    margin-left:8%;
}
.reviews .btn{
    margin-right: 15%;
    width:85%;
} */
.error-msg{
    color:white;
    margin:10px 0;
    display: block;
    background-color:#80005e;
    font-size: 20px;
    justify-content: center;
   text-align: center;
    width:50%;
    margin-left:25%;
}


.testimonial-container{
    padding: 6% 0;
}
.testimonial-container .container{
    position:relative;
    perspective: 1000;
    padding-top: 2rem;
}
.testimonial-item{
    display: block;
}
.testimonial-item{
    border-radius: 5px;
    box-shadow: 5px 5px 15px -1px #808080;
    color:gray;
    width:50vw;
    margin: 0 auto;
    text-align:center;
    padding:1rem;
    transform-style:preserve-3d;
    animation: slide .4s linear;
}

.section_avis{
    margin-top: 5%;
}
.testimonial-item h3{
    color: #80005e;
    font-size: 1.5rem;
    padding-bottom: .5rem;
}
.testimonial-item p{
    color:#000;
}
.testimonial-item i{
    color:#80005e;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    position:absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size:1rem;
    width:40px;
    height:40px;
    border-radius: 50%;
    color:white;
    box-shadow: 5px 5px 15px -1px #808080;
    background:#ff00ff;
    z-index:2;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;  
}
.testimonial-container .container .right-arrow{
    right:3rem;
}
.testimonial-container .container .left-arrow{
    left:3rem;
}

/*  ===========section contact=========== */
.contact_section, .registre-section{
    margin-top:10%;
}
.form-container{
    width:50vw;
    margin:0 auto;
    background-color: #fff;
}
.form-container input, textarea{
    background-color:transparent;
    width:85%;
    box-shadow: 5px 5px 15px -1px #8080804f;
    border-radius: 10px;
}
.form-container .input-field{
    margin-left: 55px;
}
.form-container input{
    height:40px
}
.form-container p{
    color:#80005e;
}
.form-container sup{
    color:red;
}
.form-container form{
    margin:1rem auto;
    box-shadow: 5px 5px 15px -1px #808080;
    padding:2rem;
    position:relative;
    border-radius: 5px;
}
.form-container form button{
    width:80%;
    border-radius:10px;
    margin-left: 55px;
}
.container_message{
    margin-top: 10%;
}
/* =============registre=========== */
.registre-section h2{
    text-align: center;
    background: rgba(239, 129, 197, 0.203);
    width:50%;
    margin-left:25%;
}
.registre-section .log_re{
    text-align: center;
}
.registre-section a{
    color:blue;
}
/* ============articles=========== */
table.cinereousTable {
    border: 6px solid #F3F2E2;
    background-color: #FFFFF6;
    width: 90%;
    text-align: center;
    margin-left: 5%;
  }
  table.cinereousTable td, table.cinereousTable th {
    border: 1px solid #D5C7D1;
    padding: 4px 4px;
  }
  table.cinereousTable tbody td {
    font-size: 13px;
  }
  table.cinereousTable thead {
    background: #D23298;
    background: -moz-linear-gradient(top, #dd65b2 0%, #d646a2 66%, #D23298 100%);
    background: -webkit-linear-gradient(top, #dd65b2 0%, #d646a2 66%, #D23298 100%);
    background: linear-gradient(to bottom, #dd65b2 0%, #d646a2 66%, #D23298 100%);
  }
  table.cinereousTable thead th {
    font-size: 17px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: left;
  }
  table.cinereousTable tfoot td {
    font-size: 16px;
  }
  .img_service{
    width: 250px;
    height: 200px;
  }
  .th_image{
    width: 250px;
  }
  .ajouter_articles{
    margin-left: 40%;
  }
/* =============footer=========== */
.top-footer{
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    color:#fff;
    margin-top: 15rem;
    background: #ef81c57d;
    height: 80px;
    padding:0 35px
}
.top-footer h2 i{
    margin-right:.5rem;
}
.top-footer input{
    width:40vw;
    height:40px;
    text-align: center;
    border-radius: 5px;
    border: white;
    
}
footer{
    position:relative;
}
.overlay{
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background:rgba(255, 0, 255, 0.135);
   
}
.footer-content{
    position:absolute;
    top:10%;
    background:rgba(210, 166, 210, 0.135);
   width:100%;
}
.footer-content .img-box{
    text-align:center;
}
footer .inner-footer{
    display:flex;
    align-items: center;
    justify-content:center;
    width:100%;
    height:200px;
    padding:3rem 0;
    margin: 0 auto;
    color:#fff;
}
.card h3{
    color:#ff00ff;
    text-align: center;
}
footer .inner-footer .card{
    margin:2rem;
    border: #fff;
    width:15rem;
   
}
footer .inner-footer .card li{
    line-height: 1.5rem;
    text-transform:capitalize;
    font-size:16px;
    color: black;
}
footer .inner-footer .card p{
    color: #808080;
    text-align: center;
}
footer .inner-footer .card li:nth-child(1),
footer .inner-footer .card p{
    margin-top: 1rem;
}
footer .inner-footer .card .social-links{
    margin-top: 1rem;
}
footer .inner-footer .card .social-links i{
    width:50px;
    height:50px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 5px 5px 15px -1px #808080;
    text-align: center;
    color:fuchsia;
    padding:.6rem;
    font-size: 1.3rem;
    margin-left: 4px;  
}
footer .inner-footer .card .social-links i:hover{
    background-color: #80005e;
    color:#fff;
}
footer .bottom-footer{
    text-transform: capitalize;
    text-align: center;
    padding: 3rem 0;
    color:#000;
    padding-bottom: 1rem;
}

/*========== mediA screen============== */
@media (max-width:554px) {
    #menu-btn{
        display: block;
    }
    .header .flex .navbar{
        position :absolute;
        width:100%;
        padding: 0 2rem;
        top:130%;
        left:0;
        display:block;
        right:0;
        border-top:1px solid #ff00ff;
        background:#fff;
        transition:.3s ease;
        clip-path:polygon(0 0, 100% 0 ,100% 0, 0 0);
    }
    .header .flex .navbar.active{
        clip-path:polygon(0 0, 100% 0 ,100% 0, 0 0);
    }
    .header .flex .navbar a{
        display:block;
        margin:2rem;
        border-top:1px solid #ff00ff;
    }
    .form-container{
        width:100%;
    }
    form{
        width:100%; 
    }
}